body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  position: fixed;
  padding-left: 10px;
  border-bottom: solid 1px seashell;
  background-color: black;
}

.logo  img {
  height: 50px;
}

nav a {
  font-size: 22px;
  color: seashell;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mission {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

.mission-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 150px;
  width: 100%;
}

#featured-teas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
}

.image-content {
  display: flex;
  justify-content: space-between;;
  width: 1000px;
}

.image-content.two-items {
  justify-content: center;
}

.image-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  padding-top: 60px;
}

.small-img {
  width: 100%;
  height: auto;
}

.image-item.left {
  margin-right: 25px;
}
.image-item.right {
  margin-left: 25px;
}

#locations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 1200px;
  background-image: url("./images/img-locations-background.jpg");
  background-size: cover;
  margin-top: 50px;
}

.locations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 980px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 300px;
  height: 250px;
  opacity: 1;
}

.address {
  margin-top: 20px;
}

.contact {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  /*border: solid 1pt white;*/
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
}
